<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>
    <%- include('./partials/nav') %>

        <h1>Book Details</h1>
        <div id="general-div">
            <% if (user) { %>
             
            
            <p>Some details about this book.</p>

            <p>Name: <%= book.name %>
            </p>
            <% if (book.serie) { %>
                <p>Serie: <%= book.serie %>
                </p>
                <% } %>
                    <% if (book.number) { %>
                        <p>Number: <%= book.number %>
                        </p>
                        <% } %>
                            <p>Year: <%= book.year %>
                            </p>
                            <p>Author: <%= book.author %>
                            </p>
                            <p>Genre: <%= book.genre %>
                            </p>
                            <div id="show-div">
                                <form action="/booksRead/<%= book._id %>?_method=DELETE" method="POST">
                                    <button type="submit">🗑️</button>
                                </form>
                                <form action="/booksRead/<%= book._id %>/edit">
                                <button>Edit Book</button>
                            </form>
                            </div>
                            <% } else{%>
                                <%- include('./partials/user-needed') %>
                                <% } %>
        </div>
</body>

</html>